
.calendar{
    padding: 12px;
    display: none;
    border-radius: 12px;
    background: #FFF;
    gap: 24px;
    position: absolute;
    right: -130%;
    margin-top: 15px;
    
}
.startdate{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #238F53;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;  
}
.startdatevalue{
    display: flex;
    width: 100%;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid  #238F53;
    background:  #FFF;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}