.settingscontent{
    background: #F5F6F7;
}
.settingsheader{
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    color: #455C7D;
    text-align: center;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}
.settingsheader :active{
    color: #238F53;
}
.setcontents{
    display: flex;/*change to flex for profile settings to appear*/
    padding: 48px;
    gap: 20px;
}
.setprofilepic{
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 24px 44px;
    height: 227px;
    width: auto;
    min-width: 278px;
    border-radius: 16px;
}
.setpp{
    gap: 29px;
    display: flex;
    flex-direction: column;
}
.profilepps{
    align-items: center;
    justify-content: center;
    display: flex;
}
.profileptxt{
    border: 1px solid #238F53;
    border-radius: 8px;
    text-align: center;
    padding: 8px 16px;
    color:  #238F53;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}
.setcontpart{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    border-radius: 16px;
    
}
.setpersonalinfo{
    display: flex;
    flex-direction: column;
    background: #FFF;
    padding: 16px 24px;
    gap: 20px;
    border-radius: 16px;
}
.pinfoname{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pinfofirst{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}
.fstname{
    display: flex;
    text-align: center;
    text-wrap: nowrap;
    color: #7993B1;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;

}
.fstnamename{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    text-wrap: wrap;
    color: #161F2E;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
}
.fstnameemail{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    text-wrap: wrap;
    margin-left: 16%;
    color: #161F2E;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
}
.setupdatepassword{
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    gap: 24px;
    background: #FFF;
    border-radius: 16px;

}
.suphead{
    color: #334563;
    font-family: Avenir;
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
}
.suppwords{
    display: flex;
    justify-content: space-between;

}
.supnewpword{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #525C76;
    font-family: Avenir;
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
        
}
.show{
    width: 16px;
    height: 16px;
}
.pwordinput{
    display: flex;
    align-items: center;
    border: 1px solid #C9D9E5;
    border-radius: 8px;
    padding: 9px 12px;
    

}
.setnewppwordss{
    border: 0;
}
.pwordcaution{
    display: flex;
    gap: 10px;
    align-items: center;
}
.setupdate{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 16px;
    background: #238F53;
    color: #FFF;
    border: 0;
    border-radius: 8px;
    width: 86px;
    height: 45px;
    cursor: pointer;

}