*{
    box-sizing: border-box;
}

#erd{
    width: 534px;
    display: none;
    flex-direction: column;
    background: #FFF;
    gap: 24px;
    padding: 24px ;
    border-radius: 16px;
    top: 10%;
    left: 35%;
    transition: transform 0.5s;
    position: absolute;
    z-index: 2;
}

.erdHead{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    color: #334563;
}
.erdDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.erdDetailsLevel{
    width: 108px;
    height: 29px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background: #F2D5D5;
    text-align: center;
    color: #9D1F1F;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-transform: capitalize;
}
.erdDetailsMark{
    height: 34px;
    padding: 6px 12px;
    background: #238F53;
    border-radius: 6px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
}
.erdMap{
    height: 213px;
}


.erdDescription{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}
.erdDescription1{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    color: #161F2E;

}
.DesTxt1{
    color: #E2B93B;
    font-size: 16px;
}
.erdDescription2{
    display: flex;
    gap: 144px;
}
.erdDescription3{
    display: flex;
    gap: 117px;
}.erdDescription4{
    display: flex;
    gap: 111px;
}.erdDescription5{
    display: flex;
    gap: 135px;
}.erdDescription6{
    display: flex;
    gap: 178px;
}.erdDescription7{
    display: flex;
    gap: 115px;
}
.DesTxt{
    text-wrap: wrap;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: #161F2E;
}
.DescText{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: #7993B1;
}
.erdLine{
    height: 1px;
    background: #C9D9E5;

}
.erdFoot{
    display: flex;
    justify-content: space-between;
}
.assign1{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: #7993B1;
}
.assign2{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: #161F2E;
}
.erddbut{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.goback{
    width: 224px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4CC27E;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid ;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
}
.assignbut{
    width: 224px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    border: 1px solid ;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    background-color: #238F53;
}
.erddsearch{
    display: flex;
    justify-content: space-between;
    border: 1px solid #C9D9E5;
    border-radius: 4px;
    background-color: #FFF;
    padding: 10px 12px;
    color: #9DB5CB;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}
.erddcont{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #7993B1;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;

}