*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    height: 100%;
}
#mainbody001{
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100%;
}
.leftnavbar{
    max-width: 289px;
    background: linear-gradient(151deg, #1B5235 0%, #207144 51.36%, #238F53 98.61%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #B8EBCD;
    line-height: 160%;
    flex-shrink: 0;
    display: block;
    position: sticky;
}
.logo{
    display: flex;
    padding: 24px 24px 0px 38px;
    gap: 16px;
    
    margin-bottom: 50px;
}

.navbuttons ul{
    text-decoration: none;
    margin: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.navbuttons li{
    height: 46px;
    padding: 10px;
    margin-bottom: 16px;
}
.navbuttons a{
    display: flex;
    gap: 16px;
    padding: 24px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #B8EBCD;
    line-height: 160%;
    
}
.navbuttons a:active{
    background: rgba(235, 246, 243, 0.10);
}
.content_part{
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 16px 48px;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    background: #FFF;
}

.profile{
    display: flex;
    gap: 16px;
    align-items: center;
}
.line{
    width: 1px;
    height: 32px;
    background: #C9D9E5;
}
.content_body{
    background: #F5F6F7;
    height: 100%;
    display: flex;
}
.content_list{
    padding: 48px 32px 21px 48px;
    display: block;
    
    width: 413px;
}
.content_list_1{
    font-family: Avenir;
    font-size: 18px;
    font-weight: 800;
    line-height: 160%;
    color: #334563;
}
.level{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}
.fig{
    color: #334563;
    font-size: 24px;
    font-family: sans-serif;
}
#low{
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #E2B93B;
    align-items: center;
}
#medium{
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #FF8A00;
    align-items: center;

}
#high{
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    align-items: center;
    color: #9D1F1F;
}
#critical{
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #F00;
    align-items: center;

}
.content_list_line{
    height: 1px;
    margin-top: 24px;
    background-color: #C9D9E5;
    border: 1px #C9D9E5;
}
.content_list_analytics{
    margin-top: 20px;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 800;
    line-height: 160%;
    color: #334563;
 
}
.content_list_totalbox1{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #B8EBCD;
    border-radius: 16px;
    padding: 24px;
}
.content_list_totalbox2{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C9D9E5;
    border-radius: 16px;
    padding: 24px;
}
.content_list_totalbox3{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5E5B4;
    border-radius: 16px;
    padding: 24px;
}
.content_list_totalboxText{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: #5C7597;
    margin-left: 5px;
}
.alertLocations{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    
}
.states{
    width: 80px;
    height: 40px;
    padding: 7px ;
    text-align: center;
    align-items: center;
    border: 1px solid #7993B1;
    border-radius: 16px;
    justify-content: center;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: #7993B1;
}

.contentBody_line{
    height: 100%;
    background-color:#C9D9E5;
    width: 1px;
}
.content_body_main{

    padding: 18px 24px 0px 48px;
    flex-shrink: 0;
    

}
.content_body_mainHead{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.mainHead_buttons{
    display: flex;
    gap: 16px;
}
.filter_input{
    display: flex;
    justify-content: space-between;
    width: 146px;
    padding: 12px 8px;
    background-color: #FFFFFF;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #455C7D;
    position: relative;
}
.content_body_mainText{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 160%;
    color: #334563;
    padding-top: 7px;
}
.map{
    margin-top: 24px;
    width: 100%;
    border-radius: 16px;
}


  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 1%;
}

.filter_input:hover .dropdown-content {
    display: flex;
}

.dropdown-content22{
    display: none;
 
}
.filter_input:hover .calendar{
    display: flex;
}
.anunamesfirst:hover .dropdown-content{
    display: flex;
 
}
#anulocalg{
    position: relative;
}
.dropdown-content{

    height: auto;
    padding: 16px;
    flex-direction: column;
    background: #FFFFFF;
    color: #C9D9E5;
    font-family: sans-serif;
    display: none;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    z-index: 1;
    right: 0%;
    width: 222px;
    margin-top: 1px;
}

.states121{
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
    height: 190px;
    margin-top: 10px;
}
::-webkit-scrollbar{
    width: 6px;

}
::-webkit-scrollbar-track{
    background: #FFFFFF;
}
::-webkit-scrollbar-thumb{
    background: #9DB5CB;
    border-radius: 4px;
}
.states121 div{
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    cursor: pointer;
}
.search-box{
    content: "";
    background-image: url(svg/Search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    right: 8px;
    width: 16px;
    height:18px;
    border: 0;
    background-color: #F5F6F7;

}
.search_text{
    color: #455C7D;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    text-wrap: nowrap;
}
.search{
    display: flex;
    background-color: #F5F6F7;
    height: 34px;
    align-items: center;
    gap: 8px;
    padding: 16px 8px;


}
.searchCont{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 2px;
}