.erd{
    padding: 38px;
    gap: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFF;
    border-radius: 16px;
    display: flex;
}
#erd{
    display: flex;
}
.anuinputting{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;

}
.anunames{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
/*.anunamesfirst{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap :4px;
    position: relative;
}*/

.input_button1{
    border: 1px solid #9DB5CB;
    border-radius: 4px ;
    padding: 8px 12px;
    display: flex;
    justify-content: spac
}
.anufirstlet{
    color:  #455C7D;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 160%; 
}
.asteric{
    color: #C02A2A;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.anufirstinp{
    border: 1px solid #C9D9E5;
    padding: 9px 12px;
    border-radius: 8px;
    color: #334563;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; 
}

.selectOfficer{
    content: "";
    background-image: url(svg/Right\ Icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    right: 8px;
    width: 16px;
    height:18px;
    border: 0;
    background-color: #F5F6F7;
}

.anuassignstaff{
    display: flex;
    justify-content: space-between;
    border: 1px solid #C9D9E5;
    border-radius: 4px;
    background-color: #FFF;
    padding: 10px 12px;
    color: #9DB5CB;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    cursor: pointer;
}
.anuassignlet{
    color: #455C7D;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.saveuser{
    padding: 6px 12px;
    border-radius: 8px;
    background: #238F53;
    border: #238F53;
    color: #FFF;
    justify-content: center;
    align-items: center;
    height: 38px;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}
.sradioin{
    cursor: pointer;
}
.statesRadio{
    background: #FFF;
    display:n;
    flex-direction: column;
    gap: 16px;
    color: #455C7D;    
    font-family: Avenir;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    padding: 16px;
    border-radius: 8px;
    width: 460px;
    height: 336px;
    overflow: scroll;
   
}
.radiocont{
    gap: 8px;
    display: flex;
    
}
.states11{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
label{
   display: flex;
}
input[type="checkbox"] {
    display: none;
  }

input[type="radio"]{
    display: none;
}
input[type="radio"] + label::before{
    content: url("svg/Ellipse\ 30.svg");
    display: inline-block;
    background-color: #FFF;
    text-align: center;
    margin-right: 8px;
}
  input[type="checkbox"] + label::before {
  content: url("svg/Square.svg");
    display: inline-block;
    background-color: #fff; /* Background color for unchecked state */
    text-align: center;
    margin-right: 16px; /* Adjust spacing as needed */
  }

  /* Style when the checkbox is checked */
  input[type="checkbox"]:checked + label::before {
     /* Change to the desired background color for checked state */
    color: #fff; /* Change to the desired text color for checked state */
    content: url("svg/CheckSquare.svg"); /* Unicode checkmark character */
  }

  .usermanagentroles{
    padding: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    background: #FFF;
    border-radius: 8px;

 
}
.anuassign{
    position: relative;
}
input[type="radio"]{
    display: none;
}
input[type="radio"] + label::before{
content: url("svg/Ellipse\ 30.svg");
display: inline-block;
background-color: #FFF;
text-align: center;
margin-right: 8px;
}
.usmrtxt{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}
.formusrm{
    gap: 16px;
    display: flex;
    flex-direction: column;
    background: #FFF;
}
.anuassign:hover .dropdown-content{
    display: flex;
    border: 1px solid #C9D9E5;
    position: absolute;
    width: 100%;
    margin-top: 30px;
}