*{
    box-sizing: border-box;
}
body{
    width: 100%;
}
.umcontbody{
    display: flex;
    flex-direction: column;
    padding: 25px 48px;
    gap: 16px;
    background: #F5F6F7;

}
#anustatesss{
    position: relative;
}
.show{
    width: 16px;
    height: 16px;
}
.setnewppwordss{
    border: 0;
}
.statesRadio{
    display: flex;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
}
.pwordinput{
    display: flex;
    align-items: center;
    border: 1px solid #C9D9E5;
    border-radius: 8px;
    padding: 9px 12px;
    

}
.umcontbuttons{
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}
#pwwoo{
    border: 0;
}
.hide{
    color: #238F53;
    border: 1px solid;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background: #FFF;
    width: 179px;
    text-align: center;

}
.newuser{
    color: #FFF;
    border: 1px solid;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background: #238F53;
    width: 179px;
    text-align: center;

}
.umuserprofile{
    width: 100%;
    overflow-y: scroll;
}
.ummaincont{
    background: #FFF;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    border-radius: 16px;
    width: 100%;

}
.mainconthead{
    display: flex;
    align-items: center;
    gap: 369px;
    flex-shrink: 0;
    border-bottom: 1px solid #F5F6F7;
    padding-bottom: 19px;
}
.mainconttext{
    display: flex;
    gap: 64px;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    align-items: center;
    color: #455C7D;
}
.maincontsearch{
    display: flex;
    gap: 16px;
}
.mainuserdetails{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}
.confooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #334563;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}
.confootimg{
    display: flex;

}
.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1;
  }
.contfootleft{
    display: flex;
    border: 1px solid #C9D9E5; 
    flex-shrink: 0px;
    border-radius: 8px;
    padding: 6px;   
}
.contfootright{
    display: flex;
    background-color: #238F53; 
    flex-shrink: 0px;
    border-radius: 8px;
    padding: 6px;   
}
.confootend{
    display: flex;
    gap: 5px;


}.footend2{
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 48px;
    border: 1px solid #F5F6F7;

    
}
.userdetailshead3{
    display: flex;
    align-items: flex-start;
    color:  #090D14;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    border-radius: 8px;
    background: #FFF;
    flex-shrink: 0px;
    justify-content: sp;
 
}
.userdetailshead{
    display: flex;
    align-items: flex-start;
    color:  #090D14;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    border-radius: 8px;
    background: #FFF;
    flex-shrink: 0px;
 
 
}
.userdetailshead2{
    display: flex;
    align-items: flex-start;
    color:  #090D14;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    border-radius: 8px;
    background: #F5F6F7;
    flex-shrink: 0px;
 
 
}
.headtxttitle{
   
    background: #F5F6F7;
    margin: 16px 24px;
}
.headtxtcont1{
 
    text-wrap: wrap;
    margin: 16px 24px;
    
}
.faithnaming{
    display: flex;
    flex-direction: column;
}
#faithing{
    visibility: hidden;
    
}
#unresolved{
    background: #F2D5D5;
    padding: 4px 18px;
    border-radius: 8px;
}
.headtxtcont2{
    visibility: hidden;
    text-wrap: wrap;
    margin: 16px 24px;
    
}
.faith1{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 8px;
    border-radius: 8px;
    flex-shrink: 0;
    width: 100%;

}
.faithaction{
    display: flex;
    gap: 8px;
    flex-shrink: 0px;
}
.iconedit{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    background: #EBF6F3;
    border: 1px solid #4CC27E;
}
.icondelete{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    background: #F2D5D5;
    border: 1px solid #F5B0B0 ;
}
.faithcont{
    display: flex;
    gap: 38px;
    align-items:flex-start; 
    padding: 8px 10px; 
    color: #5C7597;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
 
}
.faithIcon{
    display: flex;
    align-items: center;
    gap: 10px;

}
.faithname{
    color: #334563;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}.faithemail{
    font-weight: 400;
    color: #5C7597;
    text-wrap: wrap;
}
.faith2{
    display: flex;
    gap: 38px;
    align-items: center; 
    padding: 8px;
    border-radius: 8px;
    background-color: #F5F6F7;
}
